{% extends 'apps_screenshots/base.html' %}
{% block title %}
Login
{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
  <h4> Already logged in </h4>
  <a href="{% url 'logout' %}">Logout</a>

{% else %}
<h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_p }}
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" value="Submit"></td>
        </tr>                
      </table>
    </form>
    {% endif %}
{% endblock %}

{% block script %}
{% endblock %}