{% extends 'apps_screenshots/base.html' %}
{% block title %}
ScreenShots
{% endblock %}

{% block content %}

<div class='parent flex-parent'>
  <div class='child flex-child'>
        <div class="dropdown">
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" onclick="myFunction()">
                <div id="games" class="gamelist">
                {% for a in ls %}
            
                  <a href="javascript:showSelectedFunction({{a.id}});">{{a.name}}</a>
                {% endfor %}
                </div>
            </div>
          </div>
        </div>
        <div class='child flex-child'>

          <button onclick="showRandomFunction()">Randomize</button>
        </div>
        </div>

          {%csrf_token %}
          <div class='parent'>
            <div class='child'>
              <ul class="image-group"></ul>
            </div>
            <div class='child'>
              <ul class="random-group"></ul>
            </div>
      </div>
    </div>

{%endblock%}

      {% block script %} 

   <script>
      function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
        }

      const csrftoken = getCookie('csrftoken')

      var previous_app_id = -1

      function showSelectedFunction(selected) {
        // send a GET request to build the list of todos
        var data = {
          app_name: selected,
          csrfmiddlewaretoken: csrftoken,
        }

        $.ajax({
          url: '/random/screenshots/',
          type: 'POST',
          dataType: 'json',
          data: data
        }).done(function(response) {
            console.log(response) 
            $( ".image-group" ).empty();
            for ( var i in response.screenshots){// let's just print the data in the console for now
            var temp = `
            <li>
            <img src="/media/${response.screenshots[i].file_name}" alt="My image" class="responsive">
            <li>
            `
            $('.image-group').append(temp)
            }
          })
      }

      function showRandomFunction() {
        // send a GET request to build the list of todos
        var data = {
          csrfmiddlewaretoken: csrftoken,
          previous_app: previous_app_id,
        }

        $.ajax({
          url: '/random/randomscreenshot/',
          type: 'POST',
          dataType: 'json',
          data: data
        }).done(function(response) {
            console.log(response) 
            $( ".random-group" ).empty();
            previous_app_id = response.current_app
            for ( var i in response.randomscreenshots){// let's just print the data in the console for now
            var temp = `<li>
            <img src="/media/${response.randomscreenshots[i].file_name}" alt="My image" class="responsive">
            <li>
            `
            $('.random-group').append(temp)
            }
          })
      }

    </script>


{%endblock%}