{% extends 'apps_screenshots/base.html' %}
{% block title %}
HomePage
{% endblock %}

{% block content %}
        {% url 'convert_image' as theurl %}


        <form action="{{theurl}}" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <input type='file' name='image' accept="image/*">
            <button type='submit'>Convert to Webp</button>
        </form>

        {% if img_str %}
        <img src="data:image/webp;base64,{{ img_str }}"  class="converted">
        {% endif %}


{% endblock %}

{% block script %}
{% endblock %}




